#! /usr/bin/make -f

#export DH_VERBOSE=1
export PYBUILD_TEST_ARGS=--ignore=tests/test_aio.py --ignore=tests/test_twisted.py --ignore=tests/test_std.py --ignore=tests/test_tornado.py
export PYBUILD_NAME=consul
%:
	dh $@ --with python2,python3 --buildsystem=pybuild
